<section class="login">
  <h1>Acessar sua conta</h1>
  <p>Entre com seu e-mail e senha para acessar a plataforma DG_IA.</p>

  <form>
    <label for="email">E-mail:</label>
    <input type="email" id="email" placeholder="seuemail@exemplo.com">

    <label for="senha">Senha:</label>
    <input type="password" id="senha" placeholder="********">

    <button type="submit">Entrar</button>
  </form>

  <p class="registro">Não tem uma conta? <a href="#">Cadastre-se aqui</a></p>
</section>
<!-- TESTE DO FORMULARIO 29/08 LARII -->